<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @game.state %>
</p>

<p>
  <strong>Participants:</strong>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @game.participants.each do |participant| %>
        <tr>
          <td><%= participant.name %></td>
          <td><%= participant.team %></td>
          <td><%= participant.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<% if @game.state == Game::FINISHED %>
  <p>
    <strong>Winning team:</strong>
    <%= @game.winning_team %>
  </p>
<% elsif @game.state == Game::ACTIVE %>
  SHOW THE BOARD!
<% elsif @game.state == Game::PARTICIPANTS_FOUND %>
  <%= button_to 'Start Game', {controller: "games", action: "start", game_id: @game.id, method: :post}  %>
  <%= link_to 'Add Participant', new_game_participant_path(@game) %>
<% else %>
  <%= link_to 'Add Participant', new_game_participant_path(@game) %>
<% end %>

<%= link_to 'Back to Games', games_path %>
