<style>
  .grid-container{
    display:grid;
    gap:25px;
    grid-template-columns:auto auto auto auto auto;
    background-color: #F5F5DC;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-item{
    text-align:center;
  }
  .red{
    background-color: #FF0000;
  }
  .blue{
    background-color: #33CCFF;
  }
  .black{
    background-color: #330000;
  }
  .white{
    background-color: #FFFFFF;
  }
  .flexy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
  }
</style>
<p id="notice"><%= notice %></p>
<%= link_to 'Back to Games', games_path %>

<table>
  <thead>
    <tr>
      <th>Game Name</th>
      <th>Game State</th>
      <th>Playing as</th>
      <th>Team</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @game.name %></td>
      <td><%= @game.state %></td>
      <td><%= @participant&.name %></td>
      <td><%= @participant&.team %></td>
      <td><%= @participant&.role %></td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @game.participants.each do |participant| %>
      <tr>
        <td><%= participant.name %></td>
        <td><%= participant.team %></td>
        <td><%= participant.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= turbo_frame_tag "dsfds" do %>
<% end %>
<%= render partial: "game" %>
